body {
  background-image: url("./extra/fondoOscuro.png");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 10px 14px -7px #a1a3e1;
  background: linear-gradient(to bottom, #0927ec 5%, #030b47 100%);
  background-color: #04239f;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1117ca;
  width: 90%;
  text-align: center;
  margin-left: 2%;
}

#buttonHome,
#buttonPokedex,
#buttonExtra {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #121db6;
  font-size: 90%;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
  width: 12%;
  text-align: center;
  margin-left: 5%;
}

#buttonHome:hover,
#buttonPokedex:hover,
#buttonExtra:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}

#buttonHome:active,
#buttonPokedex:active,
#buttonExtra:active {
  position: relative;
  top: 5px;
}

.flexWelcome {
  display: flex;
  flex-direction: wrap;
}

#welcome {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  border-radius: 25px;
  justify-content: center;
  border-style: double;
  border-color: #ffaa22;
  border-width: 10px;
  margin-left: 10%;
  margin-top: 5%;
  margin-right: auto;
  background-color: #f3ebdede;
}

#oak {
  margin: auto;
  width: 70%;
  padding: auto;
  margin-right: auto;
}

.pokemon-container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 5%;
  display: flex;
  display: inline-block;
  width: 16%;
  margin-right: 2%;
  margin-top: 2%;
  background-color: rgba(200, 196, 196, 0.871);
  border-radius: 25px;
}

h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: x-large;
  background-color: rgba(200, 196, 196, 0.899);
  margin-left: 2%;
  margin-right: 3%;
}

#pokemons {
  
  margin-left: 15%;
  display: flex;
  flex-wrap: wrap;
}

#filterType {
  margin-left: 10%;
}
#order-select {
  display: inline-block;
  width: 15%;
  cursor: pointer;
  padding: 7px 15px;
  height: 30%;
  outline: 0;
  border: 0;
  border-radius: 0;
  margin-left: 45%;
  background: #f0f0f0c4;
  color: #080808;
  font-size: 1em;
  color: rgb(0, 0, 0);
  font-family: "Quicksand", sans-serif;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: center;
  transition: all 0.25s ease;
}

#filterType{
  display: flex;
  flex-wrap: wrap;
}


#typeNormal,
#typeFighting,
#typeFlying,
#typePoison,
#typeGround,
#typeRock,
#typeBug,
#typeGhost,
#typeSteel,
#typeFire,
#typeWater,
#typeGrass,
#typeElectric,
#typePsychic,
#typeIce,
#typeDragon,
#typeDark,
#typeFairy {
  display: flex;
  width: 4%;
  background-color: rgba(200, 196, 196, 0.871);
  border-radius: 10px;
  margin: 0.5%;
  margin-bottom: 1%;
}

#typeNormal:active,
#typeFighting:active,
#typeFlying:active,
#typePoison:active,
#typeGround:active,
#typeRock:active,
#typeBug:active,
#typeGhost:active,
#typeSteel:active,
#typeFire:active,
#typeWater:active,
#typeGrass:active,
#typeElectric:active,
#typePsychic:active,
#typeIce:active,
#typeDragon:active,
#typeDark:active,
#typeFairy:active,
#allTypes:active {
  position: relative;
  top: 5px;
}


#allTypes {
  width: 4.6%;
  background-color: rgba(200, 196, 196, 0.871);
  border-radius: 10px;
  margin: 0.5%;
  margin-bottom: 1%;
}

footer {
  position: static;
  bottom: 0;
  text-align: center;
  font-size: large;
  background-color: rgba(200, 196, 196, 0.69);
  padding: 0.5%;
  width: 100%;
  height: 40px;
  left: 0;
}

#pokedexSecction,
#extraSecction {
  display: none;
}

#pokePeso{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 5%;
  display: flex;
  display: inline-block;
  width: 16%;
  margin-right: 2%;
  margin-left: 40%;
  margin-top: 2%;
  background-color: rgba(200, 196, 196, 0.871);
  border-radius: 25px;
  
}

main {
  box-sizing: border-box;
  height: 100%;
  margin-bottom: 5%;
}

@media screen and (max-width: 768px) {
  .pokemon-container {
    width: 30%;
    margin-right: 2%;
    margin-top: 2%;
  }
  #filterType{
    display: flex;
    flex-wrap: wrap;
  }
  
  
  #typeNormal,
  #typeFighting,
  #typeFlying,
  #typePoison,
  #typeGround,
  #typeRock,
  #typeBug,
  #typeGhost,
  #typeSteel,
  #typeFire,
  #typeWater,
  #typeGrass,
  #typeElectric,
  #typePsychic,
  #typeIce,
  #typeDragon,
  #typeDark,
  #typeFairy {
    display: flex;
    width: 4%;
    background-color: rgba(200, 196, 196, 0.871);
    border-radius: 10px;
    margin: 0.5%;
    margin-bottom: 1%;
  }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
  .pokemon-container {
    width: 30%;
    margin-right: 2%;
    margin-top: 2%;
  }
  #filterType{
    display: flex;
    flex-wrap: wrap;
  }
  
  #typeNormal,
  #typeFighting,
  #typeFlying,
  #typePoison,
  #typeGround,
  #typeRock,
  #typeBug,
  #typeGhost,
  #typeSteel,
  #typeFire,
  #typeWater,
  #typeGrass,
  #typeElectric,
  #typePsychic,
  #typeIce,
  #typeDragon,
  #typeDark,
  #typeFairy {
    display: flex;
    width: 4%;
    background-color: rgba(200, 196, 196, 0.871);
    border-radius: 10px;
    margin: 0.5%;
    margin-bottom: 1%;
  }
}


 /* @media only screen and (min-width: 768px) {
	#pokemons{
		display: flex;
		flex-wrap: wrap;
	}
	.pokemon-container {
		width: 16%;
	}
  }
  @media only screen and  (min-width: 300px) , only screen and (max-width: 500px){
	#pokemons{
		display: flex;
		flex-wrap: wrap;
	}
	.pokemon-container {
		width: 100%;
	}
  }*/

  /*
@media only screen and (max-width: 768px) {
  #buttonHome,
  #buttonPokedex, 
  #buttonExtra {
    display: flex;
    flex-wrap: wrap;
    font-size: 50%;
    padding: 1% 3%;
  }
}

@media only screen and (max-width: 600px) {
}
