*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(https://c8.alamy.com/compes/2eww0mr/lineas-diagonales-patron-de-fondo-fondo-blanco-con-lineas-diagonales-grises-vector-eps-10-2eww0mr.jpg); /*imagen de fondo*/
}

/*Titulo Logo*/
.container-title{ 
    background-color: #202f40;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    width: 100%;
    position: fixed;
    top:0px;
    z-index: 1000;
}
.container-logo{
    width: 100%;
    height: 100%;
}
.container-title img{
    height: 100%;
    width: 100%;
    object-fit: contain; 
}

/*caja pokedex*/
.Cajon-pokedex{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: blue;
}

.card{
    background-color:plum;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;

 
}
.card p{
    border: 1px #202f40;
    direction:ltr;

}
.pokemon-img{
    background-color: rgb(20, 255, 59);
}
.pokemon-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*buscador*/
.bucador{
    display: block;
    background-color: red;
    padding: 40px;
    top: 150px;
    position: absolute;
    z-index:1;

}

/*colores*/
.colores{
    color: #202f40;
    color: #ffff00;
}